body {
    background-image: url(background3.jpg);
/*     background-color: red; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

.halo{
        width: 15%;
}

h1{
    color: hotpink ;
}

h3{
    color: lightcoral ;
}

.p2{
    background-color: darkgrey;
}

.karakter{
    width: 25%;
}


.profil{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    width: 20%;
}
